[submodule "src/lib/graphql-twitch"]
	path = src/lib/graphql-twitch
	url = https://github.com/talk2MeGooseman/twitch-graphql-wrapper.git
[submodule "ui"]
	path = ui
	url = https://github.com/talk2MeGooseman/gooseman-codes-ui.git
